<!DOCTYPE HTML>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <!-- CSS Stylesheets -->
    <link href="css/nz-tour.min.css" rel="stylesheet" />
    <link href="css/anim-in.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="css/please-wait.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/filterModal.css" rel="stylesheet" />

    <!-- Scripts -->
    <script src="scripts/lib/fastclick.js"></script>
    <script src="scripts/lib/jquery-2.1.4.min.js"></script>
    <script src="scripts/lib/jquery-ui.js"></script>
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-animate.min.js"></script>
    <script src="scripts/lib/angular-ui-router.min.js"></script>
    <script src="scripts/lib/ui-router-styles.js"></script>
    <script src="scripts/lib/angular-touch.js"></script>
    <script src="scripts/lib/bootstrap.min.js"></script>
    <script src="scripts/lib/bootstrap-switch.min.js"></script>
    <script src="scripts/lib/smoothie.js"></script>
    <script src="scripts/lib/nz-tour.min.js"></script>
    <script src="scripts/lib/d3.min.js"></script>
    <script src="scripts/lib/please-wait.min.js"></script>

  </head>

  <body ng-controller="navCtrl">

    <!-- View title bar -->
    <div id="top-bar" class="row">
      <div class="col-xs-2">
        <input id="filter-button" type="image" src="images/filter.png" data-toggle="modal" data-target="#filter-modal">
      </div>
      <div class="col-xs-8">
        <p id="view-title"></p>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-1" >
        <input id="help-button" type="image" src="images/questionMark.png" ng-click="startTour(); $event.stopPropagation();">
      </div>
    </div>

    <!-- View goes here -->
    <div ui-view id="current-view"></div>

    <!-- Self-collapsing navigation bar -->
    <nav id="nav-bar" class="navbar navbar-default navbar-fixed-bottom">
      <div class="row">
        <div class="col-xs-2">
          <div ng-click="setView('channelGraph'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/channelGraph.png" />
          </div>
        </div>
        <div class="col-xs-2">
          <div ng-click="setView('signalStrength'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/signalStrength5.png" />
          </div>
        </div>
        <div class="col-xs-2">
          <div ng-click="setView('timeGraph'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/timeGraph5.png" />
          </div>
        </div>
        <div class="col-xs-2">
          <div ng-click="setView('APTable'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/table2.png" />
          </div>
        </div>
        <div class="col-xs-2">
          <div ng-click="setView('channelTable'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/channelTable2.png" />
          </div>
        </div>
        <div class="col-xs-2">
          <div ng-click="setView('settings'); showNav(); $event.stopPropagation();">
            <img class="nav-icon" src="images/settings.png" />
          </div>
        </div>
      </div>
    </nav>

    <!-- Splash screen -->
     <script type="text/javascript">
      var loading_screen = pleaseWait({
        logo: "",
        backgroundColor: '#62BF01',
        loadingHtml: "<div class='sk-spinner sk-spinner-wave'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>"
      });

      setTimeout(function() {
        loading_screen.finish();
     }, 2500);

    </script>

    <!-- Cordova -->
    <script src="cordova.js"></script>
    <script src="cordova_plugins.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="app/services/setupService.js"></script>

    <!-- Angular App -->
    <script src="app/app.js"></script>

    <!-- Anglar Services -->
    <script src="app/services/accessPoints.js"></script>
    <script src="app/services/timeGraphManager.js"></script>
    <script src="app/services/APTableManager.js"></script>
    <script src="app/services/channelGraphManager.js"></script>
    <script src="app/services/channelTableManager.js"></script>
    <script src="app/services/channelChecker.js"></script>
    <script src="app/services/globalSettings.js"></script>

    <!-- Angular Controllers -->
    <script src="app/controllers/APTableCtrl.js"></script>
    <script src="app/controllers/modalCtrl.js"></script>
    <script src="app/controllers/navCtrl.js"></script>
    <script src="app/controllers/signalStrengthCtrl.js"></script>
    <script src="app/controllers/timeGraphCtrl.js"></script>
    <script src="app/controllers/settingsCtrl.js"></script>
    <script src="app/controllers/channelGraphCtrl.js"></script>
    <script src="app/controllers/channelTableCtrl.js"></script>

    <!-- Angular Directives -->
    <script src="app/directives/filterModal.js"></script>

    <!-- Globalization -->
    <script src="lang/en.js"></script>
    <script src="lang/es.js"></script>

    <!-- Globals and Setup -->
    <script src="scripts/channels.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/defaults.js"></script>
    <script src="scripts/format.js"></script>
    <script src="scripts/events.js"></script>
    <script src="scripts/language.js"></script>
    <script src="scripts/region.js"></script>
    <script src="scripts/setup.js"></script>
    <script src="scripts/tours.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="scripts/manufacturers.js"></script>
  </body>
</html>
