/* Modal Container */
#filter-modal  .modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/* Modal Header */
#filter-modal  #title {
  margin: 5px;
}

/* Selection Menu */
#filter-modal #deselect-btn {
  display: block;
  margin: 1vh auto;
}

#filter-modal  #query {
  margin-bottom: 3vh;
}

#filter-modal #select-btn {
  display: block;
  margin: 1vh auto;
}

/* Access Point List */
#filter-modal  #modal-list {
  margin-bottom: 0;
  overflow-y: scroll;
}

#filter-modal  .list-group-item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  position: relative;
  z-index: 2;
}

#filter-modal  .list-group-item.selected {
  background-color: #d0ecb3;
  border: 2px solid #62bf01;
  opacity: 1;
}

#filter-modal  .list-group-item.selected + .list-group-item {
  border-top-width: 0px;
}

/* Misc */
/*  The nopadding class removes Bootstrap's default
      padding and margins for its Modal object */
#filter-modal .nopadding {
  margin: 0px !important;
  padding: 5px !important;
}

/* Scrollbar */
#filter-modal ::-webkit-scrollbar {
  -webkit-appearance: none;
}

#filter-modal ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;
}

#filter-modal ::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}