@media screen and (orientation:portrait) {
  /* portrait-specific styles */
  #access-point-table-wrapper .full-data {
    display: none;
  }

  #access-point-table-wrapper .partial-data {

  }
}

@media screen and (orientation:landscape) {
  /* portrait-specific styles */
  #access-point-table-wrapper .full-data {
    
  }

  #access-point-table-wrapper .partial-data {
    display: none;
  }
}

/* Table Header */
#access-point-table-wrapper 
th {
 text-align: center;
}

#access-point-table-wrapper
a {
  color: #337ab7;
  text-decoration: none;
}

#access-point-table-wrapper
.sortArrow::after {
  content: '\25b2';
}

#access-point-table-wrapper
.sortArrow.reverse::after {
  content: '\25bc';
}

/* Table Body */
#access-point-table-wrapper
.table {
  margin-bottom: 0px;
  margin-top: 0px;
}

#access-point-table-wrapper
#table-content {
  overflow-y: auto;
}

#access-point-table-wrapper
td {
  text-align: center;
}

/* Scrollbar */
#access-point-table-wrapper
::-webkit-scrollbar {
  -webkit-appearance: none;
}

#access-point-table-wrapper
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 10px;
}

#access-point-table-wrapper
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
