/* Landscape Specific Styles */
@media screen and (orientation:landscape) {
  
}

/* Portrait Specific Styles - when device width is under 639px */
@media screen and (orientation:portrait) and (max-width: 639px){
 
}

#access-point-table-wrapper .no-show {
	display: none;
}

/* Table Header */
#access-point-table-wrapper
a {
  color: #337ab7;
  text-decoration: none;
}

/* Sorting arrows - known to be incompatible with Kindle webview */
#access-point-table-wrapper
.sortArrow::after {
  content: '\25b2';
}

#access-point-table-wrapper
.sortArrow.reverse::after {
  content: '\25bc';
}

/* Table Body */
#access-point-table-wrapper
.table {
  margin: 0;
}
