.table-striped thead {
  width: 97%;
}

.table-striped tbody {
  overflow-y: auto;
  width: 100%;
}

.table-striped thead, .table-striped tbody, .table-striped tr, .table-striped td, .table-striped th {
  display: block;
}

.table-striped tbody td, .table-striped thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.mac {
    padding-left: 6px
}

.frequency {
    padding-left: 13px
}

.level {
    padding-left: 20px
}

.capabilities {
    padding-left: 23px
}
