#step1,
#step2,
#step3 {
  position: relative;
}

.table-striped thead {
  position: fixed;
  right: 0px;
}

.table-striped tbody {
  position: fixed !important;
  overflow-y: auto;
  right: 0px;
}

.table-striped thead, .table-striped tbody, .table-striped tr, .table-striped td, .table-striped th {
  display: block;
}

.table-striped tbody td, .table-striped thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.noWrap {
    white-space:nowrap;
}
