.navigator .viewport {
  visibility: hidden;
}

.resize {
  visibility: hidden;
}

#navRect {
  opacity: 0.2;
}

#navRect.active {
  fill: orange;
  stroke: white;
}

#staticRect {
  opacity: 0.2;
}

#staticRect.active {
  fill: orange;
  stroke: white;
}
