#modalList {
  overflow-y: auto;
}

#SSID {
  text-align: center;
}

#BSSID {
  text-align: center;
}

#title {
  margin: 5px;
}

#query {
  margin-bottom: 15px;
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.list-group-item.selected {
  background-color: #D0ECB3;
  border: 2px solid #62bf01;
  opacity: 1;
}

.list-group-item.selected + .list-group-item {
  border-top-width: 1px;
}

.list-group-item {
  z-index: 2;
  position: relative;
  background-color: #fafafa;
  border: 1px solid #ddd;
  opacity: 0.5;
}