body {
	background: #eeeeee !important;
}

.filterDiv {
  height: 70px;
}

.filterButton {
  position: relative;
  top: 18px;
}

#helpButton {
  position: relative;
  top: 18px;
  left: 90px;
  height: 34px;
  width: 34px;
}

#top-bar {
	background-color: #62bf01;
  height: 70px;
  z-index: 1;
}

#bottom-bar {
	padding-top: 5px;
 	padding-bottom: 5px;
  min-height: 0px;
}

.footer {
  position: absolute;
  background-color: #fafafa;
}

.active_view {
	background-color: #eeeeee;
}

#dropDownOpen {
  position:absolute;
  bottom:0;
  width: 100%;
  padding-bottom:2%;
  z-index: 100;
  display: none;
}

#navTriangleDown {
  position: relative;
}

#navTriangleUp {
  position: relative;
}