.axis-label {
	font-weight: bold;
}

body {
	background: #f1f1f1 !important;
	position: fixed;
}

body > #current-view {
  display: hidden;
}

body.pg-loaded > #current-view {
  display: block;
}

#current-view {
  position: relative;
  overflow: hidden;
}

#filter-button {
  max-height: 8.5vh;
  max-width: 8.5vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  outline: none;
}

#help-button {
  max-height: 8vh;
  max-width: 11.5vh;
  position: relative;
  -webkit-transform: translateY(-50%);
	top: 50%;
}

#nav-bar {
  height: 13vh;
  min-height: 0px;
  position: fixed;
  -webkit-transition: bottom 0.5s ease;
  border: 2px solid rgba(33, 30, 30, 0.14);
}

#nav-bar div {
	height: 100%;
}

#nav-bar-hidden {
  position: relative;
  top: -6vh;
  left: 46vw;
  
  width: 13.5vh;
  height: 6vh !important;
  background-color: #fff;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px solid rgba(33, 30, 30, 0.137255);
  border-bottom: 0;

  /*position: relative;
  left: 47vw;
  top: -4.9vh;

  -webkit-border-radius: 180px 180px 0 0;

  padding: 1.5vh 5vh;

  border-top-color: rgba(33, 30, 30, 0.137255);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgba(33, 30, 30, 0.137255);
  border-right-style: solid;
  border-right-width: 2px;
  border-left-color: rgba(33, 30, 30, 0.137255);
  border-left-style: solid;
  border-left-width: 2px;

  background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
  background-image: -webkit-gradient(linear,left top,left,from(#fff),to(#fff)); */
}

#nav-button {
  top: -5.5vh;
}

.nav > li > a:hover {
  background-color: transparent;
}

.nav-icon {
	display: block;
  height: 11vh;
	margin: auto;
	position: relative;
  -webkit-transform: translateY(-50%);
	top: 50%;
	width: 8vw;
}

.nav-pane {
  display: inline-block;
}

.nav-toggle-right {
  fill-opacity: 0.3;
  stroke-width: 2;
}

.nav-toggle-right.active {
  fill: #62bf01;
  stroke: #62bf01;
}

.nav-toggle-left {
  fill-opacity: 0.3;
  stroke-width: 3;
}

.nav-toggle-left.active {
  fill: #62bf01;
  stroke: #62bf01;
}

/*
.axis > .tick {
	font-size: 2vw;
}
*/

#top-bar {
  background-image: url('../images/topBar.png');
  height: 11vh;
  margin: 0px;
	position: fixed;
  width: 100vw;
}

#top-bar > div {
  height: 100%;
}

#view-title {
  font-size: 3.5vw;
  color: #fafafa;
	text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

/* PATHGATHER */
.sk-spinner {
  position: relative;
  margin: 100px auto;
  margin-top: -30vh !important;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.sk-spinner > div {

  background-color: #FFF;
  height: 100%;
  width: 6px;
  margin: 0 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.sk-spinner .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner .sk-rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.sk-spinner .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }  20% {
    -webkit-transform: scaleY(1.0);
  }
}
