body {
	background: #eeeeee !important;
}

#current-view {
  position: relative;
  overflow: hidden;
}

#touch-layer {
	height: 100%;
}

#top-bar {
  position: fixed;
  background-color: #62bf01;
  height: 11vh;
}

#top-bar > div {
	height: 100%;
}

#filter-button {
	position: relative;
  transform: translateY(-50%);
	top: 50%;
}

#help-button {
	position: relative;
  max-height: 7.5vh;
  max-width: 7.5vh;
  transform: translateY(-50%);
	top: 50%;
}

#view-title {
  font-size: 30px;
  font-size: 3.5vw;
	text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#bottom-bar {
  position: fixed;
  min-height: 0px;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

.active_view {
	background-color: #eeeeee;
}

.nav>li>a:hover {
	background-color: transparent;
}

/*#dropDownOpen {
  position:absolute;
  bottom:0;
  width: 100%;
  padding-bottom:2%;
  z-index: 100;
  display: none;
}

#current-view {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/
