#lineChart {
	position: relative;
	top: 10px;
}

<<<<<<< HEAD
#legendModal > .modal-dialog {
  width: 55%;
	opacity: 0.5;
	margin: 70px auto;
}

#plotContainer {
	margin-top: 20px;
}
=======
#wrapper {
	position: relative;
	overflow: hidden;
	z-index:-1;
}
>>>>>>> 11bc32c946a60c97bf9bba5bbe9f487b3389929b
