#settings-wrapper
.no-padding-right {
  padding-right: 10px !important;
}

#settings-wrapper
#min-label {
  float: right;
}

#settings-wrapper
#max-label {
  float: left;
}

/* Level Scale Menu */
#settings-wrapper
#scale-slider-col {
  padding-left: 1vw;
  padding-right: 1vw;
}

#settings-wrapper
.slider-handle {
  background-color: #62bf01;
  background-image: none;
  opacity: 1;
}

#settings-wrapper
.slider-selection {
  background-color: #62bf01;
  background-image: none;
  opacity: 0.6;
}

/* Detect Hidden Menu */
#settings-wrapper
.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #62bf01 !important;
}

#settings-wrapper
#toggler {
  position: relative;
  float: right;
  padding-right: 6.0vw;
}

/* Misc */
/*  Removes default padding added by Bootstrap on the panels */
#settings-wrapper .panel-group,
#settings-wrapper .no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

/*  Removes default padding added by Bootstrap
      on the panels and colors the content box */
#settings-wrapper
.panel {
  background-color: #fafafa !important;
  margin: 0 !important;
  padding: 0 !important;
}
