/* Sets gauge canvas height - NOT the height of the actual gauge,
    the height of the canvas it is drawn on */
#gauge {
  height: calc(95% - 75px);
  margin-top: 0px;
  text-align: center;
  width: 100%;
}

/* Sizes and positions the panels that contain the min, max,
<<<<<<< HEAD
    and current values */ 
=======
    and current values */
>>>>>>> 3fde52ededd2ebfda901fd61e2858845d175afce
#values {
  height: 70px;
  width: 100%;
  margin-top: 5px;
}

/* Portrait Specific Styles */
@media screen and (orientation:portrait) {
  #signal-strength-wrapper
  #access-points {
    display: block;
    /* Access point list is made slightly smaller to avoid
        overlapping the navbar tab */
    height: 48%;
    width: 100%;
  }

  #signal-strength-wrapper
  #readings {
    display: block;
    height: 50%;
    width: 100%;
  }

  #values {
    margin-top: 20px;
  }
}

/* Landscape Specific Styles */
@media screen and (orientation:landscape) {
  #signal-strength-wrapper
  #access-points {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 30%;
  }

  #signal-strength-wrapper
  #readings {
    display: inline-block;
    height: 97%;
    vertical-align: top;
    width: 70%;
  }
}

/* Access Point List */
#signal-strength-wrapper
#access-points {
  padding: 10px 10px;
}

<<<<<<< HEAD
#signal-strength-wrapper #selected-ssid,
#signal-strength-wrapper #selected-mac {
  white-space: pre;
}

=======
>>>>>>> 3fde52ededd2ebfda901fd61e2858845d175afce
/* Level Indicators */
#signal-strength-wrapper
#readings {
  padding: 10px 10px;
}

#signal-strength-wrapper
.panel.level-indicator {
  margin-top: 10px;
}

#signal-strength-wrapper
.panel.level-indicator .panel-body {
  padding: 10px;
}

#signal-strength-wrapper
#readings g.label text {
  text-anchor: middle;
}
