#gauge {
  height: calc(95% - 75px);
  margin-top: 0px;
  text-align: center;
  width: 100%;
}

#values {
  height: 70px;
  width: 100%;
  margin-top: 5px;
}

@media screen and (orientation:portrait) {
  #signal-strength-wrapper
  #access-points {
    display: block;
    height: 48%;
    width: 100%;
  }

  #signal-strength-wrapper
  #readings {
    display: block;
    height: 50%;
    width: 100%;
  }

  #values {
    margin-top: 20px;
  }
}

@media screen and (orientation:landscape) {
  #signal-strength-wrapper
  #access-points {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 30%;
  }

  #signal-strength-wrapper
  #readings {
    display: inline-block;
    height: 97%;
    vertical-align: top;
    width: 70%;
  }
}

/* Access Point List */
#signal-strength-wrapper
#access-points {
  padding: 10px 10px;
}

#signal-strength-wrapper
#selected-ssid {
  white-space: pre;
}

#signal-strength-wrapper
#selected-mac {
  white-space: pre;
}

/* Level Indicators */
#signal-strength-wrapper
#readings {
  padding: 10px 10px;
}

#signal-strength-wrapper
.panel.level-indicator {
  margin-top: 10px;
}

#signal-strength-wrapper
.panel.level-indicator .panel-body {
  padding: 10px;
}

#signal-strength-wrapper
#current-level {
  font-weight: bold;
}

#signal-strength-wrapper
#readings g.label text {
  text-anchor: middle;
}
