/* Portrait Specfic Styles */
@media screen and (orientation:portrait) {
  #time-graph-wrapper
  #legend {
    display: block;
    height: 50%;
    width: 100%;
  }

  #time-graph-wrapper
  #time-graph {
    display: block;
    height: 50%;
    width: 100%;
  }
}

/* Landscape Specfic Styles */
@media screen and (orientation:landscape) {
  #time-graph-wrapper
  #legend {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 30%;
  }

  #time-graph-wrapper
  #time-graph {
    display: inline-block;
    height: 97%;
    vertical-align: top;
    width: 70%;
  }
}

/* Legend */
#time-graph-wrapper
#legend {
  padding: 10px 10px;
}

#time-graph-wrapper
.legend-box {
  display: inline-block;
  height: 15px;
  margin: 0 5px;
  width: 15px;
  vertical-align: middle;
}

#time-graph-wrapper
.legend-label {
  display: inline-block;
}
