@media screen and (orientation:portrait) {
  #time-graph-wrapper
  #legend {
    display: block;
    height: 50%;
    width: 100%;
  }

  #time-graph-wrapper
  #time-graph {
    display: block;
    height: 50%;
    width: 100%;
  }
}

@media screen and (orientation:landscape) {
  #time-graph-wrapper
  #legend {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 30%;
  }

  #time-graph-wrapper
  #time-graph {
    display: inline-block;
    height: 97%;
    vertical-align: top;
    width: 70%;
  }
}

/* Legend */
#time-graph-wrapper
#legend {
  padding: 10px 10px;
}

#time-graph-wrapper
#selected-ssid {
  white-space: pre;
}

#time-graph-wrapper
#selected-mac {
  white-space: pre;
}

#time-graph-wrapper
.legend-box {
  display: inline-block;
  height: 20px;
  margin: 5px 5px;
  width: 20px;
  vertical-align: middle;
}

#time-graph-wrapper
.legend-ssid {
  display: inline-block;
}

/* Scrollbar */
#time-graph-wrapper
::-webkit-scrollbar {
  -webkit-appearance: none;
}

#time-graph-wrapper
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;
}

#time-graph-wrapper
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
