.axis-label {
  float: left;
  font-size: 1.85vw;
  font-weight: bold;
}

#legend {
  position: relative;
  transform: translateY(2%);
}

.legend-box {
  display: inline-block;
  height: 3.75vh;
  margin-left: 1.5vh;
  margin-right: 1vh;
  width: 3.75vh;
  vertical-align: middle;
}

.legend-text {
  font-size: 1.65vw;
}

.legend-title {
  font-size: 1.85vw;
  font-weight: bold;
  position: relative;
}

.list {
  height: 55vh;
  overflow-y: scroll;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.padded-1vh {
  margin: 0px !important;
  padding: 1vh !important;
}

#plot {
  background-color: #c0c0c0;
  border: 1px;
}

.scrollable-list {
  transform: translateY(2%);
}

#selected-ap {
  font-size: 1.65vw;
  text-align: center;
  background-color: #62bf01;
  color: #fafafa;
}

.selected-ap-title {
  font-size: 1.75vw;
  font-weight: bold;
}

#time-graph {
  position: relative;
  transform: translateY(3%);
}

.listgroupitem {
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 1.5vh 1.25vh;
}

.listgroupitem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.listgroupitem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.listgroupitem.active {
  background-color: #62bf01;
  border-color: #62bf01;
  color: #fafafa;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}