<!DOCTYPE HTML>
<html>
	<head>
		<link href="css/channelTable.css" rel="stylesheet" />
	</head>

	<body>
		<div id="touch-layer" ng-click="showNav()" ng-controller="channelTableCtrl">
			<div class="anim-slide-right" data-anim-sync="true" ng-style="{'-webkit-transition-duration': 500 + 'ms','-moz-transition-duration': 500 + 'ms','-ms-transition-duration': 500 + 'ms','-o-transition-duration': 500 + 'ms','transition-duration': 500 + 'ms'}">
				<div id="plot"></div>
		    <div id="navLeft" class="nav-pane" ng-click="setBand('2_4'); $event.stopPropagation();"></div>
		    <div id="navRight" class="nav-pane" ng-click="setBand('5'); $event.stopPropagation();"></div>
		  </div>
		</div>
	</body>
</html>
