<html>
	<head>
		<link href="css/channelTable.css" rel="stylesheet" />
		<script src="scripts/channelTable.js"></script>
	</head>

	<body>
		<div ng-controller="channelTableCtrl" id="touchLayer" ng-click="showNav(); $event.stopPropagation();" class="container-fluid anim-slide-right anim-slide-left"  data-anim-sync="true" ng-style="{'-webkit-transition-duration': 300 + 'ms','-moz-transition-duration': 300 + 'ms','-ms-transition-duration': 300 + 'ms','-o-transition-duration': 300 + 'ms','transition-duration': 300 + 'ms'}">
		    <h1 id="step1"><br>
		    THIS
		    <br>
		    IS
		    <br>
		    THE
		    <br>
		    CHANNELS
		    <br>
		    VIEW</h1>
		</div>
	</body>
</html>
