<!DOCTYPE HTML>
<html>
	<head>
		<link href="css/channelTable.css" rel="stylesheet" />
	</head>

	<body>
		<div id="touch-layer" ng-click="showNav()" ng-swipe-left="swipeTo('settings', 'left')" ng-swipe-right="swipeTo('APTable', 'right')" ng-controller="channelTableCtrl">

				<div id="plot"></div>
		    <div id="navLeft" class="nav-pane" ng-click="setBand('2_4'); $event.stopPropagation();" ng-swipe-right="$event.stopPropagation()" ng-swipe-left="$event.stopPropagation()"></div>
		    <div id="navRight" class="nav-pane" ng-click="setBand('5'); $event.stopPropagation();" ng-swipe-right="$event.stopPropagation()" ng-swipe-left="$event.stopPropagation()"></div>

		</div>
	</body>
</html>
