<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WifiScout</title>

  <!-- wifiScout references -->
  <link href="../css/index.css" rel="stylesheet" />

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="../scripts/index.js"></script>
</head>

<body>
  <div id="top-bar" class="container-fluid">
    <h1 class="text-center">**APP TITLE** - **GREENLEE LOGO**</h1>
  </div>
  <nav id="bottom-bar" class="navbar navbar-default navbar-fixed-bottom">
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Parabola</a></li>
        <li><a href="#">Single Speed</a></li>
        <li><a href="#">Time Graph</a></li>
        <li><a href="#">Table</a></li>
        <li><a href="#">Channel</a></li>
        <li><a href="#">Settings</a></li>
  </nav>
    <!-- Cordova reference, this is added to your app when it's built. -->
  <script src="../cordova.js"></script>    
  <script src="../scripts/platformOverrides.js"></script>
</body>
</html>
