<!DOCTYPE HTML>
<html>
	<head>
		<link href="css/plot.css" rel="stylesheet" />

		<script type="text/javascript">
	    var deviceHeight = $(window).height();
	    console.log(deviceHeight);

	    deviceHeight = deviceHeight - 200;

	    //var lineChartW = deviceHeight;
	    var lineChartH = deviceHeight;

	    console.log("Line chart height is: " + lineChartH);
	    //console.log("Line chart width is: " + lineChartW);

	   	$('#line').css('max-height', lineChartH);
	   	//$('#line').css('max-width', lineChartW);

	    //$('#lineChart').append("<canvas id='line' class='chart chart-line' data='data' labels='labels' legend='true' series='series' click='onClick' height='100' width='200'></canvas>");
  	</script>
	</head>

	<body>
		<div ng-controller="plotCtrl">
			<div class="container-fluid">
				<canvas id="line" data="levels" labels="labels" legend="true" series="SSIDs" colours="colors" options="options"></canvas>
			</div>
			</div>
		</div>

		<div filter-modal view="plot"></div>
	</body>
</html>
