<html>
  <body>
		<div ng-controller="settingsCtrl">
			<div class="panel-group" id="main-panel">

        <div id="range-panel" class="panel panel-default">
    			<!-- Starting View Header -->
        	<div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#range-collapse">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-target="#range-collapse" href="#range-collapse" class="collapsed">
	              {{strings.settings.startingViewHeader}}
	            </a>
	          </h4>
        	</div>
        	<!-- Starting View Description and Dropdown List -->
        	<div id="range-collapse" class="panel-collapse collapse in">
	          <div class="panel-body">
	          	<div class="row">
		          	<div ng-click="showNav()" class="col-xs-9">
	          			{{strings.settings.startingViewDescription}}
	          		</div>
	          		<div class="col-xs-3">
			         		<input id="range-slider" type="text" value="" ></input>
			         	</div>
			       	</div>
			     	</div>
        	</div>
    		</div>

    		<div id="hidden-ap-panel" class="panel panel-default">
    			<!-- Detect Hidden APs Header -->
        	<div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-target="#hidden-ap-collapse">
          	<h4 class="panel-title">
	          	<a data-toggle="collapse" data-target="#hidden-ap-collapse" href="#hidden-ap-collapse" class="collapsed">
	              {{strings.settings.detectHiddenHeader}}
	            </a>
	          </h4>
       		</div>
       		<!-- Detect Hidden APs Description and Toggle Selector -->
        	<div id="hidden-ap-collapse" class="panel-collapse collapse">
            <div class="panel-body">
	          	<div class="row">
		          	<div ng-click="showNav()" class="col-xs-9">
	          			{{strings.settings.detectHiddenDescription}}
	          		</div>
	          		<div class="col-xs-3">
		          		<input type="checkbox" name="hiddenAPOptions">
		          	</div>
	          	</div>
	          </div>
        	</div>
    		</div>

			</div>

      <div id="touch-layer" ng-click="showNav()" ng-swipe-left="swipeTo('channelGraph', 'left')" ng-swipe-right="swipeTo('signalStrength', 'right')"></div>
    </div>
	</body>
</html>