<!DOCTYPE HTML>
<html>
  <head>
    <!-- CSS Stylesheets -->
    <link href="css/settings.css" rel="stylesheet">
    <script src="scripts/settings.js"></script>
  </head>

  <body>
		<div ng-controller="settingsCtrl">

      <div class="panel-group anim-slide-right anim-slide-left" id="accordion" data-anim-sync="true" ng-style="{'-webkit-transition-duration': 300 + 'ms','-moz-transition-duration': 300 + 'ms','-ms-transition-duration': 300 + 'ms','-o-transition-duration': 300 + 'ms','transition-duration': 300 + 'ms'}">
	      <div class="panel panel-default" id="panel1">
	        <div class="panel-heading" id="step1">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
	              View Mode
	            </a>
	          </h4>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in">
	          <div class="panel-body">Blah blah blah</div>
	        </div>
	      </div>
	      <div class="panel panel-default" id="panel2">
	        <div class="panel-heading" id="step2">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="collapsed">
	              Default View
	            </a>
	          </h4>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse">
	          <div class="panel-body">Blah blah blah blah blah blah blah</div>
	        </div>
	      </div>
	      <div class="panel panel-default" id="panel3">
	        <div class="panel-heading" id="step3">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" class="collapsed" >
	              Misc.
	            </a>
	          </h4>
	        </div>
	        <div id="collapseThree" class="panel-collapse collapse">
	          <div class="panel-body">Blah blah blah, blah blah blah.</div>
	        </div>
	      </div>
        <button id="detect-hidden" type="button" ng-click="detectHidden()">Detect Hidden</button>
        <button id="ignore-hidden" type="button" ng-click="ignoreHidden()">Ignore Hidden</button>
	    </div>

		</div>

		<div id="touch-layer" ng-click="showNav()"></div>
	</body>
</html>
