<div id="signal-strength-wrapper" class="view-wrapper" ng-swipe-left="swipeTo('settings', 'left')" ng-swipe-right="swipeTo('accessPointTable', 'right')" ng-controller="signalStrengthCtrl">
	<div class="row">
		<div class="col-xs-3" id="list-section" >

			<!-- Selected AP Box -->
			<div class="panel panel-default no-padding">
				<div id="selected-ap" class="panel-body">
					<div id="selected-ssid" class="centered-text">{{selectedSsid !== null ? selectedSsid : " "}}</div>
					<div id="selected-mac" class="centered-text">{{selectedMac !== null ? '(' + selectedMac + ')' : " "}}</div>
				</div>
			</div>
			<hr>

			<!-- AP List -->
			<ul class="list list-group scrollable-list">
				<span data-ng-repeat="ap in accessPoints | orderBy:sortSSID">
					<li class="listgroupitem" ng-class="{ active: isSelected(ap) }" ng-click="setSelected(ap); $event.stopPropagation()">
					  <div class="centered-text">{{ap.ssid}}</div>
						<div class="centered-text" ng-show="isDuplicateSSID[ap.ssid]">({{ap.mac}})</div>
					</li>
				</span>
		  </ul>
		</div><!--
		NO SPACE
 --><div class="col-xs-9" id="gauge-section">

			<!-- Signal strength gauge -->
			<center>
				<div id="gauge"></div>
			</center>
				<div class="row">

					<!-- Minimum level indicator -->
					<div id="min-level" class="col-xs-4 level-indicator">
						<center><div>{{strings.signalStrength.minLevel}}</div></center>
						<div class="panel panel-default">
							<div class="panel-body padded-1vh centered-text">{{minLevel !== null ? minLevel + " dBm" : "---"}}</div>
						</div>
					</div>

					<!-- Current level indicator -->
					<div class="col-xs-4 level-indicator">
						<center><div id="current-level">{{strings.signalStrength.currentLevel}}</div></center>
						<div class="panel panel-default">
							<div id="current-level" class="panel-body padded-1vh centered-text">{{level !== null ? level + " dBm" : "---"}}</div>
						</div>
					</div>

					<!-- Max level indicator -->
					<div id="max-level" class="col-xs-4 level-indicator">
						<center><div>{{strings.signalStrength.maxLevel}}</div></center>
						<div class="panel panel-default">
						 	<div class="panel-body padded-1vh centered-text">{{maxLevel !== null ? maxLevel + " dBm" : "---"}}</div>
						</div>
					</div>
				</div>

		</div>
	</div>
</div>
<div filter-modal />
