<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<link href="css/signalStrength.css" rel="stylesheet" />
		<script src="scripts/signalStrength.js"></script>
	</head>

	<body>
		<div ng-click="showNav()" ng-swipe-right="swipeRight('channelGraph')" ng-swipe-left="swipeLeft('timeGraph')" class="container-fluid fluidHeight" ng-controller="signalStrengthCtrl">
		<br>
			<div class="col-xs-4 apList">
				<h5><center>Select an AP to view its connection speed:</center></h5>
				<ul class="list-group scrollable-list">
					<span data-ng-repeat="ap in allAPData | orderBy:selector">
						<li class="listgroupitem"
				   		ng-class="{ active: isSelected(ap) }"
				   		ng-click="setSelected(ap); $event.stopPropagation()">
				   		{{ap.SSID}}
				    </li>
					</span>
				</ul>
			</div>
		<br>
		<center><h4>{{selectedSSID !== "" ? selectedSSID : "---"}}</h4></center>
		<div class="speedometer"></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-2 one">
			<center>Min Level</center>
			<div class="panel panel-default">
		  	<div class="panel-body">
			    <center>{{selectedSSID !== "" ? minLevel + " dBm" : "---"}}</center>
			  </div>
			</div>
		</div>
		<div class="col-xs-2 three">
			<center>Current</center>
			<div class="panel panel-default">
		  	<div class="panel-body">
			    <center>{{selectedSSID !== "" ? level + " dBm" : "---"}}</center>
		  	</div>
			</div>
		</div>
		<div class="col-xs-2 two">
			<center>Max Level</center>
			<div class="panel panel-default">
		 		<div class="panel-body">
			   	<center>{{selectedSSID !== "" ? maxLevel + " dBm" : "---"}}</center>
			  </div>
			</div>
		</div>
		</div>
	</body>
</html>
