<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<link href="css/singleSpeed.css" rel="stylesheet" />

		<script type="text/javascript">
	    var deviceHeight = $(window).height();
	    console.log(deviceHeight);

	    var speedometerW = .75 * deviceHeight;
	    var speedometerH = .5 * speedometerW;

	    console.log("Speedometer height is: " + speedometerH);
	    console.log("Speedometer width is: " + speedometerW);

	    deviceHeight = deviceHeight - 237;
	    $('.scrollable-list	').css('height', deviceHeight);

	    $('.speedometer').append("<center><canvas id='foo' height='" + speedometerH + "' width='" + speedometerW + "'></canvas></center>");
  	</script>
	</head>

	<body>
		<div class="container-fluid fluidHeight" ng-controller="singleSpeedCtrl">
		<br>
			<div class="col-xs-4 apList">
				<h5><center>Select an AP to view its connection speed:</center></h5>
				<ul class="list-group scrollable-list">
					<span data-ng-repeat="ap in allAPs">
			    <li class="listgroupitem"
			    		ng-class="{ active: isSelected(ap.BSSID) }"
			    		ng-click="setSelected(ap.BSSID)">
			    		{{ap.SSID}}
			    </li>
			    </span>
				</ul>
			</div>
			<br>
			<center><h3></h3></center>
			<div class="speedometer">
				
			</div>
			<br>
			<div class="col-xs-1">
			</div>
			<div class="col-xs-2 one">
				<center>Min Level</center>
				<div class="panel panel-default">
	  			<div class="panel-body">
		    		<center>{{minLevel}}</center>
		  		</div>
				</div>
			</div>
			<div class="col-xs-2 three">
				<center>Current</center>
				<div class="panel panel-default">
	  			<div class="panel-body">
		    		<center>{{level}}</center>
	  			</div>
				</div>
			</div> 
			<div class="col-xs-2 two">
			<center>Max Level</center>
				<div class="panel panel-default">
	 				<div class="panel-body">
		   			<center>{{maxLevel}}</center>
		  		</div>
				</div>
				</div>
		</div>
	</body>
</html>
