<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<link href="css/singleSpeed.css" rel="stylesheet" />

		<script>
			var opts = {
			  lines: 12,
			  angle: 0.1,
			  lineWidth: 0.3,
			  pointer: {
			    length: 0.9,
			    strokeWidth: 0.035,
			    color: '#000000'
			  },
			  limitMax: 'false',
			  percentColors: [[0.0, "#FF0000" ], [0.1, "#FF3300"], [0.20, "#ff6600" ],  [0.30, "#ff9900"], [0.40, "#FFCC00"], [0.50, "#FFFF00"], [0.60, "#ccff00"], [0.70, "#99ff00"], [0.80, "#66ff00"], [0.90, "#00FF00"], [1.0, "#00FF00"]], // !!!!
			  strokeColor: '#E0E0E0',
			  generateGradient: true
			};
			var target = document.getElementById('foo');
			var gauge = new Gauge(target).setOptions(opts);
			gauge.maxValue = 3000;
			gauge.animationSpeed = 120;
			gauge.set(2100);
		</script>

		<script type="text/javascript">
	    var deviceHeight = $(window).height();
	    deviceHeight = deviceHeight - 212;
	    $('.apList').css('height', deviceHeight);
  	</script>
	</head>

	<body>
		<div class="container-fluid fluidHeight" ng-controller="singleSpeedCtrl">
		<br>
			<div class="col-xs-4 apList">
				<h5><center>Select an AP to view its connection speed:</center></h5>
				<ul class="list-group scrollable-list">
					<span data-ng-repeat="ap in allAPs">
			    <li class="listgroupitem"
			    		ng-class="{ active: isSelected(ap.BSSID) }"
			    		ng-click="setSelected(ap.BSSID)">
			    		{{ap.SSID}}
			    </li>
			    </span>
				</ul>
			</div>
			<div class="col-xs-8 fooCanvas">
				<canvas id="foo"></canvas>
			</div>
		</div>
	</body>
</html>
