<html ng-app="app">
<head>

</head>
	<script src="scripts/lib/angular.min.js"></script>
<body>
	<div ng-controller="tableCtrl">
      	<div class="table-responsive">
	      <table class="table table-striped">
	        <thead>
	          <tr>
	            <th>BSSID</th>
	            <th>SSID</th>
	            <th>Frequency</th>
	            <th>Level</th>
	            <th>Capabilities</th>
	          </tr>
	        </thead>
	        <tbody class="container-fluid">
	          <tr data-ng-repeat="ap in accessPoints">
	            <td>{{ap.BSSID}}</td>
	            <td>{{ap.SSID}}</td>
	            <td>{{ap.frequency}}</td>
	            <td>{{ap.level}}</td>
	            <td>{{ap.capabilities}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
    </div>

    <!-- Scripts -->

</body>
</html>
