<!DOCTYPE HTML>
<html>
  <head>
    <link href="css/timeGraph.css" rel="stylesheet" />
    <script src="scripts/timeGraph.js"></script>
  </head>

  <body>
    <div ng-controller="timeGraphCtrl" class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-3" id="legend">
          <center><h5 class="legend-title">Select an AP to highlight it:</h5></center>
          <ul class="list-group scrollable-list" id="list">
            <span data-ng-repeat="d in legendData | orderBy:'SSID'">
              <li class="listgroupitem" ng-class="{ active: isSelected(d.BSSID) }" ng-click="toggleSelected(d.BSSID);$event.stopPropagation()">
                <div class="legend-box" ng-style="{'background-color':d.color}"></div>
                <span id="text" class=>{{d.SSID}}</span>
                <div id="text" ng-show="isDuplicateSSID[d.SSID]">({{d.BSSID}})</div>
              </li>
            </span>
          </ul>
        </div>
        <div class="col-xs-9" id="timeGraph">
          <canvas id="plot"></canvas>
          <p class="axis-label">Level (dBm)</p>
        </div>
    </div>
  </div>
  <div filter-modal view="timeGraph"></div>
</body>
