<div id="time-graph-wrapper" class="view-wrapper" ng-swipe-left="swipeTo('accessPointTable', 'left')" ng-swipe-right="swipeTo('accessPointCount', 'right')" ng-controller="timeGraphCtrl">

  <div id="legend">
    <!-- Selected AP Box -->
    <div class="panel panel-default selection-indicator">
			<div class="panel-body">
				<div class="placeholder">{{selectedSsid !== null ? selectedSsid : " "}}</div>
				<div class="placeholder">{{selectedMac !== null ? '(' + selectedMac + ')' : " "}}</div>
			</div>
		</div>

    <hr class="divider">

    <!-- AP List -->
    <ul class="list-group list scroll-y">
      <!-- Make sure to use track by for much better performance -->
      <li class="listgroupitem default" data-ng-repeat="item in legendData | orderBy:sortSSID track by item.mac" ng-class="{ active: isSelected(item) }" ng-click="toggleSelected(item)">
        <div class="legend-box" ng-style="{'background-color':item.color}"></div>
        <div class="legend-label">{{item.ssid}}</div>
        <div ng-show="isDuplicateSSID[item.ssid]">({{item.mac}})</div>
      </li>
    </ul>
  </div>

  <div id="time-graph">
    <div id="vis"></div>
  </div>

</div>
