@media screen and (orientation:landscape) {
  /* portrait-specific styles */
  #access-point-table-wrapper
  .col-xs-2.ssid {
    width: 20%;
  }

  #access-point-table-wrapper
  .col-xs-2.mac {
    width: 20%;
  }

  #access-point-table-wrapper
  .col-xs-2.manufacturer {
    width: 19%;
  }

  #access-point-table-wrapper
  .col-xs-2.channel {
    width: 13%;
  }

  #access-point-table-wrapper
  .col-xs-2.level {
    width: 10%;
  }

  #access-point-table-wrapper
  .col-xs-2.capabilities {
    width: 18%;
  }
}

@media screen and (orientation:portrait) and (max-width: 639px){
  /* portrait-specific styles */
  #access-point-table-wrapper
  .col-xs-2.ssid {
    width: 40%;
  }

  #access-point-table-wrapper
  .col-xs-2.mac {
    width: 40%;
  }

  #access-point-table-wrapper
  .col-xs-2.manufacturer {
    display: none;
  }

  #access-point-table-wrapper
  .col-xs-2.channel {
    display: none;
  }

  #access-point-table-wrapper
  .col-xs-2.level {
    width: 20%;
  }

  #access-point-table-wrapper
  .col-xs-2.capabilities {
    display: none;
  }
}

/* Table Header */
#access-point-table-wrapper
a {
  color: #337ab7;
  text-decoration: none;
}

/* Sorting arrows - known to be incompatible with Kindle webview */
#access-point-table-wrapper
.sortArrow::after {
  content: '\25b2';
}

#access-point-table-wrapper
.sortArrow.reverse::after {
  content: '\25bc';
}

/* Table Body */
.table.header-fixed > thead,
.table.header-fixed > tbody {
    display: block;
    padding: 0;
}

#access-point-table-wrapper
.table {
  margin: 0;
}
