#table-content {
  overflow-y: auto;
}

.table {
  margin-top: 0px;
  margin-bottom: 0px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

a:hover {
  color: #337ab7;
  text-decoration: none;
}

a:focus {
  color: #337ab7;
  text-decoration: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
