a:focus {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #337ab7;
  text-decoration: none;
}

.col-ssid {
  width: 21%;
}

.col-mac {
  width: 16%;
}

.col-manufacturer {
  width: 21%;
}

.col-channel {
  width: 10%;
}

.col-level {
  width: 12%;
}

.col-capabilities {
  width: 20%
}

.table {
  margin-bottom: 0px;
  margin-top: 0px;
}

#table-content {
  overflow-y: auto;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
