.table-striped tbody {
  position: fixed !important;
  overflow-y: auto;
  margin-top: 0px !important;
  height: 75vh;
}

a:hover {
  color: #337ab7;
  text-decoration: none;
}

a:focus {
  color: #337ab7;
  text-decoration: none;
}
