#navToggleRight {
  fill-opacity: 0.3;
  stroke-width: 2;
}

#navToggleRight.active {
  fill: #62bf01;
  stroke: #62bf01;
}

#navToggleLeft {
  fill-opacity: 0.3;
  stroke-width: 3;
}

#navToggleLeft.active {
  fill: #62bf01;
  stroke: #62bf01;
}

.nav-pane {
  display: inline-block;
}

.navigator .viewport {
  visibility: hidden;
}

.resize {
  display: none;
}