#modalList {
  overflow-y: auto;
}

.modal-body {
  position: relative;
  top: -15px;
  height: 400px;
}

.modal-header {
  position: relative;
  height: 80px;
  top: -15px;
}

#SSID {
  text-align: center;

}

#BSSID {
  text-align: center;
  left: 20px;
}

.scrollable-list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 330px;
}

.list-group-item.selected {
  z-index: 2;
  color: #fafafa;
  background-color: #62bf01;
  border-color: #62bf01;
}

.listgroupitem.active {
  z-index: 2;
  color: #fafafa;
  background-color: #62bf01;
  border-color: #62bf01;
}

.listgroupitem {
  position: relative;
  z-index: 2;
  
  margin-bottom: -1px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.listgroupitem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.listgroupitem:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}