#modalList {
  overflow-y: auto;
}

.table-condensed th {
   text-align: left;   
}

.table-condensed thead {
  width: 100%;
}

.table-condensed tbody {
  overflow-y: auto;
  width: 100%;
}

.table-condensed thead, .table-condensed tbody, .table-condensed tr, .table-condensed td, .table-condensed th {
  display: block;
}

.table-condensed tbody td, .table-condensed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #fff; 
}