/* Modal Container */
#filter-modal
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

/* Portrait Specific Styles */
@media screen and (orientation:portrait) {
  #filter-modal
  .modal-dialog {
    transform: translateY(16%);
    width: 80%;
  }
}

/* Landscape Specific Styles */
@media screen and (orientation:landscape) {
  #filter-modal
  .modal-dialog {
    transform: translateY(3%);
    width: 60%;
  }
}

/* Modal Header */
#filter-modal
#title {
  margin: 5px;
}

#filter-modal
#query {
  margin-bottom: 10px;
}

/* Access Point List */

#filter-modal
#right-column .list {
  margin-bottom: 0;
}

#filter-modal
.list-group-item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 5px 0;
}

#filter-modal
.list-group-item.selected {
  background-color: #d0ecb3;
  border: 2px solid #62bf01;
  opacity: 1;
}

#filter-modal
.list-group-item.selected + .list-group-item {
  border-top-width: 0px;
}
