/*	If the screen width is larger than 889px then the font sizes
			in the application will be capped at the sizes listed. */
@media screen and (orientation: landscape) and (min-width: 889px),
       screen and (orientation: portrait) and (min-height: 889px) {
	body {
		font-size: 16px;
	}

  .toggle.btn-sm{min-width:40px;min-height:20px;}
  .toggle-on.btn-sm{padding-right:20px}
  .toggle-off.btn-sm{padding-left:20px}

  .btn {
		font-size: 16px;
	}

	.section-title {
		font-size: 20px;
		font-weight: bold;
	}

	nz-tour #nzTour-content {
		font-size: 16px;
	}

	nz-tour #nzTour-actions {
		font-size: 18px;
	}

  #help-button {
    max-height: 40px;
  }

  #filter-button {
    max-height: 30px;
  }
}

/*	If the device screen width is less than 889px then the font
			size will scale to the device width. */
@media screen and (orientation: landscape) and (max-width: 888px),
       screen and (orientation: portrait) and (max-height: 888px) {
	body {
		font-size: 14px;
	}

  .btn {
		font-size: 14px;
	}

	.section-title {
		font-size: 18px;
		font-weight: bold;
	}

	nz-tour #nzTour-content {
		font-size: 14px;
	}

	nz-tour #nzTour-actions {
		font-size: 18px;
	}

  #help-button {
    max-height: 35px;
  }

  #filter-button {
    max-height: 25px;
  }
}

/* Containers */
body {
	background: #f1f1f1 !important;
	height: 100%;
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
}

#current-view {
	height: 90%;
	width: 100%;
}

.view-wrapper {
	height: 100%;
	width: 100%;
}

/* Top Bar */
#top-bar {
  background-image: url('../images/topBar.png');
	background-size: cover;
	border-bottom: 1px solid rgba(136, 136, 136, 0.72);
  height: 10%;
	max-height: 70px;
  min-height: 30px
  margin: 0px;
	text-align: center;
  width: 100vw;
}

#top-bar > div {
	height: 100%;
}

#view-title {
  color: #fafafa;
	font-size: 30px;
}

#filter-button {
	height: 100%;
	width: 100%;
	outline: none;
	z-index: 999;
}

#help-button {
	width: 45%;
	outline: none;
	z-index: 999;
}

.btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.custom-button {
	color: #55a601;
	background-color: #55a601;
	border-color: #488c01;
	outline: none;
}

/* Nav Bar */
#nav-bar {
	height: 17%;
	max-height: 120px;
	position: fixed;
	top: 100%;
	-webkit-transform: translateY(-40%);
	-webkit-transition: -webkit-transform 0.5s ease;
	width: 100%;
}

#nav-bar-tab {
	background-color: #fff;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px solid rgba(33, 30, 30, 0.137255);
  border-bottom: 2px solid #fff;
	height: 35%;
	margin: 0 auto;
	-webkit-transform: translateY(2px);
	width: 100px;
}

#nav-bar-content {
	background-color: #fff;
	border: 2px solid rgba(33, 30, 30, 0.14);
  height: 65%;
	margin: 0;
  width: 100%;
}

#nav-bar-content div {
	height: 100%;
	padding: 0;
}

.nav > li > a:hover {
  background-color: transparent;
}

.nav-button {
  height: 100%;
}

img.nav-icon {
	display: block;
	margin: auto;
	max-height: 90%;
	max-width: 90%;
}

/* nzTour */
/* Scales tour boxes to portrait orientation since they don't
	 	automatically resize if you reorient the device */
@media screen and (orientation: portrait) {
	nz-tour #nzTour-box {
	  min-height: 10vh;
		width: 50vw;
	}
}

/* Scales tour boxes to landscape orientation */
@media screen and (orientation: landscape) {
	nz-tour #nzTour-box {
	  min-height: 10vh;
		width: 30vw;
	}
}

nz-tour #nzTour-content {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Misc */
.no-padding {
	margin: 0;
	padding: 0;
}

.custom-padding-help {
	padding: 1px;
}

.custom-padding {
	padding: 4px;
}

.placeholder {
	white-space: pre;
}

.vertically-centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

/* Components */
.btn {
  outline: none !important;
}

.axis-label {
	font-weight: bold;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 10px 0;
}

.table.header-fixed > thead,
.table.header-fixed > tbody {
    display: block;
    padding: 0;
}

.row {
	max-height: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	height: 100%;
	max-height: 100%;
}

.scroll-y {
	overflow-x: hidden;
	overflow-y: scroll;
}

.listgroupitem.default {
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 10px;
  white-space: nowrap;
}

.listgroupitem.default.active {
  background-color: #62bf01;
  border-color: #62bf01;
  color: #fafafa;
}

.panel.selection-indicator {
	margin: 0;
}

.panel.selection-indicator .panel-body {
  background-color: #fafafa;
  color: black;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
	width: 100%; /* prevent an issue where the content sometimes won't dispplay */
}

rect.selectable-window {
  fill-opacity: 0.3;
  stroke-width: 2;
}

/* Colors the bars in Access Point Count view */
rect.selectable-window.active {
  fill: #62bf01;
  stroke: #62bf01;
}
