body {
	background: #eeeeee !important;
}

.filterDiv {
  height: 50px;
}

.filterButton {
  position: relative;
  top: 8px;
}

#helpButton {
  position: relative;
  top: 8px;
  left: 90px;
  height: 34px;
  width: 34px;
}

#top-bar {
	background-color: #62bf01;
  height: 50px;
}

#greenTitle {
	margin-top: 8px;
	margin-bottom: 8px
}

#bottom-bar {
	padding-top: 5px;
 	padding-bottom: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #fafafa;
}

.active_view {
	background-color: #eeeeee;
}

#dropDownOpen {
  position:absolute;
  bottom:0;
  width: 100%;
  padding-bottom:2%;
  z-index: 100;
  display: none;
}

.modal-backdrop.in {
  opacity: 0
}
