/* Font Scaling */
/*	If the screen width is larger than 889px then
			the font sizes in the application will be
			capped at the sizes listed. */
@media screen and (min-width: 889px) {
	body {
		font-size: 16px;
	}

  .toggle.btn-sm{min-width:40px;min-height:20px;}
  .toggle-on.btn-sm{padding-right:20px}
  .toggle-off.btn-sm{padding-left:20px}

  .btn,
	.text {
		font-size: 16px;
	}

	.minor-title {
		font-size: 18px;
		font-weight: bold;
	}

	.major-title {
		font-size: 20px;
		font-weight: bold;
	}

	nz-tour #nzTour-actions {
		font-size: 18px;
	}

	nz-tour #nzTour-content {
		font-size: 16px;
	}
}

/*	If the device screen width is less than 889px then
			the font size will scale to the device width. */
@media screen and (max-width: 888px) {
	body {
		font-size: 1.8vw;
	}

  .btn,
	.text {
		font-size: 1.8vw;
	}

	.minor-title {
		font-size: 2vw;
		font-weight: bold;
	}

	.major-title {
		font-size: 2.2vw;
		font-weight: bold;
	}

	nz-tour #nzTour-actions {
		font-size: 2vw;
	}

	nz-tour #nzTour-content {
		font-size: 1.8vw;
	}
}

/* Top Bar Scaling */
/* Device height is greater than 700px - the size of the top
		bar and elements within it are capped */
@media screen and (min-height: 700px) {
	#top-bar {
		height: 70px;
	}

	#filter-button {
		max-height: 42px;
	}

	#help-button {
		max-height: 50px;
	}
}

/* Device height is less than 700px - the size of the top
		bar and elements within it are scaled to the device
		height */
@media screen and (max-height: 700px) {
	#top-bar {
		height: 10vh;
	}

	#filter-button {
		max-height: 6vh;
	}

	#help-button {
		max-height: 7.15vh;
	}
}

/* Containers */
body {
	background: #f1f1f1 !important;
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

#current-view {
	overflow: hidden;
	width: 100%;
}

/* Top Bar */
#top-bar {
  background-image: url('../images/topBar.png');
	background-size: cover;
	border-bottom: 1px solid rgba(136, 136, 136, 0.72);
  height: 10%;
	max-height: 70px;
  margin: 0px;
	text-align: center;
  width: 100vw;
}

#top-bar > div {
	height: 100%;
}

#view-title {
  color: #fafafa;
	font-size: 24px;
}

#filter-button {
	float: left;
	height: 80%;
	max-height: 30px;
	outline: none;
}

#help-button {
	float: right;
	height: 80%;
	max-height: 35px;
	outline: none;
}

/* Nav Bar */
#nav-bar {
  height: 13%;
	max-height: 90px;
  position: fixed;
  -webkit-transition: bottom 0.5s ease;
  border: 2px solid rgba(33, 30, 30, 0.14);
}

#nav-bar div {
	height: 100%;
}

#nav-bar-hidden {
  position: relative;
  top: -6vh;
  left: 46vw;
  width: 13.5vh;
  height: 6vh !important;
  background-color: #fff;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px solid rgba(33, 30, 30, 0.137255);
  border-bottom: 0;
}

/*
#nav-bar-interaction-box {
	position: fixed;
	top: 92%;
	left: 46%;
	height: 8%;
	width: 8%;
	margin: 0 auto;
	opacity: 0;
	z-index: 999999999999;
};
*/

#nav-button {
  top: -5.5vh;
}

.nav > li > a:hover {
  background-color: transparent;
}

.nav-icon {
	position: relative;
	display: block;
  height: 11vh;
  width: 14.7vh;
	margin: auto;
  -webkit-transform: translateY(-50%);
}

.nav-pane {
  display: inline-block;
}

.nav-toggle-right {
  fill-opacity: 0.3;
  stroke-width: 2;
}

.nav-toggle-right.active {
  fill: #62bf01;
  stroke: #62bf01;
}

.nav-toggle-left {
  fill-opacity: 0.3;
  stroke-width: 3;
}

.nav-toggle-left.active {
  fill: #62bf01;
  stroke: #62bf01;
}

/* NzTour */
nz-tour #nzTour-box {
  min-height: 10vh;
	width: 30vw;
}

nz-tour #nzTour-content {
	box-shadow: none;
	-webkit-box-shadow: none;
}

nz-tour ::-webkit-scrollbar {
  -webkit-appearance: none;
}

nz-tour ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;
}

nz-tour ::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 0px;
}

/* Misc */
/*	The axis-label class bolds the X and Y axis
			labels in the Channel Graph and Access Point
			Count views.	*/

.vertically-centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.axis-label {
	font-weight: bold;
}

.centered-text {
	text-align: center;
}

.row {
	max-height: 100%;
}
