<<<<<<< HEAD
#lineChart {
	position: relative;
	top: 10px;
}

<<<<<<< HEAD
=======
>>>>>>> interface-changes
#legendModal > .modal-dialog {
  width: 55%;
	opacity: 0.5;
	margin: 70px auto;
}

.axis-label {
	float: left;
	font-weight: bold;
}

.legend-item {
	float: left;
}

.legend-square {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.legend-label {
	float: left;
}
=======
#wrapper {
	position: relative;
	overflow: hidden;
	z-index:-1;
}
>>>>>>> 11bc32c946a60c97bf9bba5bbe9f487b3389929b
