#help-button {
  display: none;
}

#touchLayer {
  height: 100%;
}

.panel-group {
	position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #62bf01 !important;
}

.bootstrap-switch-handle-off.bootstrap-switch-default {
  /* background-color: #62bf01 !important; */
}