.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #62bf01 !important;
}

#help-button {
  display: none;
}

.panel-group {
  height: 60vh;
  margin: 0px !important;
  padding: 0px !important;
}

.panel-heading a:after {
  bottom: 23px;
  color: grey;
  content:"\e114";
  float: right;
  font-family:'Glyphicons Halflings';
  font-size: 15pt; 
}

.panel-heading.collapsed a:after {
  content:"\e080";
}

#touch-layer {
  height: 30vh;
}

