#settings {
  height: 100%;
}

#settings .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #62bf01 !important;
}

#settings .panel-group {
	padding: 0px !important;
	margin: 0px !important;
}

#settings .panel {
    background-color: #fafafa !important;
  /*height: 60vh;*/
  margin: 0px !important;
  padding: 0px !important;
}

#settings .panel-heading a:after {
  bottom: 23px;
  color: grey;
  content:"\e114";
  float: right;
  font-family:'Glyphicons Halflings';
  font-size: 15pt;
}

#settings .panel-heading.collapsed a:after {
  content:"\e080";
}

#settings #scale-slider-col {
  padding-left: 1vw;
  padding-right: 1vw;
}

#settings .slider-handle {
  background-color: #62bf01;
  background-image: none;
  opacity: 1;
}

#settings .slider-selection {
  background-color: #62bf01;
  background-image: none;
  opacity: 0.5;
}
