.list-title {
  font-weight: bold;
}

.scrollable-list {
  overflow-x: hidden;
}

.listgroupitem.active {
  z-index: 2;
  color: #fafafa;
  background-color: #62bf01;
  border-color: #62bf01;
}

.listgroupitem {
  z-index: 2;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.listgroupitem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.listgroupitem:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#chartdiv {
  margin-bottom: 30px;
  margin-top: 10px;
}

.one,
.two,
.three {
  top: -60px;
}
