#sg-sth {
  height: 100%;
}

#sg-sth #current-level {
  font-weight: bold;
}

#sg-sth #gauge g.label text {
  text-anchor: middle;
}

#sg-sth #gauge-section {
  margin-top: 3vh;
}

#sg-sth hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1.5vh 0;
  padding: 0;
}

#sg-sth .list {
  height: 62vh;
  overflow-y: scroll;
}

#sg-sth #list-section {
  margin-top: 3vh;
  padding-right: 0px;
}

#sg-sth .listgroupitem {
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 2vh 0vh;
  text-align: center;
}

#sg-sth .listgroupitem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#sg-sth .listgroupitem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#sg-sth .listgroupitem.active {
  background-color: #62bf01;
  border-color: #62bf01;
  color: #fafafa;
}

#sg-sth .level-indicator {
  padding-top: 4vh;
  text-align: center;
}

#sg-sth .no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

#sg-sth .padded-1vh {
  margin: 0px !important;
  padding: 1vh !important;
}

#sg-sth .scrollable-list {
  border: 1px solid #cccccc;
}

#sg-sth #selected-ap {
  background-color: #fafafa;
  color: black;
  font-weight: bold;
  overflow: hidden;
  padding: 2vh 0vh;
  text-align: center;
  text-overflow: ellipsis;
}

#sg-sth #selected-ssid {
  white-space: pre;
}

#sg-sth #selected-mac {
  white-space: pre;
}

#sg-sth .spacer {
  height: 3%;
}

#sg-sth ::-webkit-scrollbar {
  -webkit-appearance: none;
}

#sg-sth ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;

}

#sg-sth ::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
