#sg-sth {
  height: 100%;
}

#sg-sth #current-level {
  font-weight: bold;
}

#sg-sth #gauge {
  -webkit-transform: translateX(8%);
}

#sg-sth #gauge g.label text {
  text-anchor: middle;
}

#sg-sth #gauge-section {
  position: relative;
  -webkit-transform: translateY(4%) !important;
}

#sg-sth .list {
  height: 55vh;
  overflow-y: scroll;
}

#sg-sth #list-section {
  -webkit-transform: translateY(4%);
}

#sg-sth .listgroupitem {
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

#sg-sth .listgroupitem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#sg-sth .listgroupitem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#sg-sth .listgroupitem.active {
  background-color: #62bf01;
  border-color: #62bf01;
  color: #fafafa;
}

#sg-sth .level-indicator {
  padding-top: 4vh;
  text-align: center;
  -webkit-transform: translateX(17%);
}

#sg-sth .no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

#sg-sth .padded-1vh {
  margin: 0px !important;
  padding: 1vh !important;
}

#sg-sth .scrollable-list {
  -webkit-transform: translateY(2%);
}

#sg-sth #selected-ap {
  text-align: center;
  background-color: #62bf01;
  color: #fafafa;
}

#sg-sth ::-webkit-scrollbar {
  -webkit-appearance: none;
}

#sg-sth ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border: none;
  border-radius: 10px;

}

#sg-sth ::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
